# Ignore everything in the buildfiles directory
/buildfiles/*

.DS_STORE
protokoll.aux
protokoll.fdb_latexmk
protokoll.fls
protokoll.log
protokoll.out
protokoll.synctex.gz
protokoll.toc
.vscode/settings.json
